@model IEnumerable<GroupedData>

@{
    ViewData["Title"] = "GroupingResult";
}

<div class="row">
    <div class="col-12">
        <h3>Result</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Data</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>
                            @x.Key
                        </td>
                        <td>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var s in x.Data)
                                    {
                                        <tr>
                                            <td>@s.Date?.ToString("yyyy-MM-dd")</td>
                                            <td>@s.Quantity</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

